/* website */


/* COLORS 
acutal flag colors #E33131 red, #22559E blue, #F8F400 yellow 
#DD4F40 red, #487AB9 blue, #F6EC5F yellow
#F7D500 orange-yellow, #F7B700 orange, #F8F400 yellow, #37F700 neon green, #9EF700 green
#F7D500 neon green, #89CFF0 light blue, #8B8589 dark grey, #D3D3D3 light grey
*/

body {
    margin: 0px;
    font-family: "Epilogue";
    width: 100%;
}

h2 {
    margin: 3% 0% 3% 5%;
    font-size: 48px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #000;
}

/* navbar */

nav {
    position: fixed;
    top: 0px;
    min-height: 65px;
    width: 100%;
    z-index: 2;
    color: #fff;
    background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 1200px) {
    .landingvidbox {
        margin-top: 1.75%;
    }
}

@media only screen and (max-width: 850px) {
    .landingvidbox {
        margin-top: 3%;
    }
}

@media only screen and (max-width: 750px) {
    .landingvidbox {
       margin-top: 4.5%;
    }
}

@media only screen and (max-width: 700px) {
    .landingvidbox {
        margin-top: 6%;
    }
}

@media only screen and (max-width: 650px) {
    .landingvidbox {
        margin-top: 7.5%;
    }
}

@media only screen and (max-width: 600px) {
    .landingvidbox {
        margin-top: 8.5%;
    }
}

@media only screen and (max-width: 550px) {
    .landingvidbox {
        margin-top: 11%;
    }
}

@media only screen and (max-width: 450px) {
    .landingvidbox {
        margin-top: 13%;
    }
}

@media only screen and (max-width: 350px) {
    .landingvidbox {
        margin-top: 16%;
    }
}

.navtitle {
    display: flex;
    width: 100%;
}

#logo {
  height: 45px;
  margin: 10px 0px 15px 5px;
  border-radius: 50px 50px 50px 50px;
}

#navtitletext {
    text-align: left;
    margin: 10px 0px 15px 0px;
    height: 100%;
    font-size: 18px;
    background-color: #000000;
    padding: 17px 15px 14px 5px;
    border-radius: 0px 15px 15px 0px;
}

#navbutton {
    position: fixed;
    right: 5px;
    top: 10px;
    height: 45px;
    width: 45px;
    border: #fff solid 2px;
    background-color:#000;
    color: white;
    font-size: 22px;
    transition: transform 0.3s ease;
}

#navbutton:hover {
    background-color:#fff;
    color: #000;
}

#closebutton {
    display: none;
    position: fixed;
    right: 5px;
    top: 10px;
    height: 45px;
    width: 45px;
    border: #fff solid 2px;
    background-color:#000;
    color: white;
    font-size: 18px;
}

.buttonmenu {
    display: none;
    justify-content: space-around;
}

.buttonoption {
    padding: 5px 10px;
    margin: 0 0 10px 0px;
    border: white solid 2px;
    font-size: 18px;
    cursor: pointer;
}

.buttonoption:hover {
    border: #000 solid 2px;
    background-color: #fff;
    color: #000;
}

/* landing page */

.landing {
    margin: -2% 0% 0% 0%;
    display: flex;
    align-items: end;
    width: 100%;
    position: relative;
}

.landingvidbox {
    width: 100%;
    background-color: #000;
}

#landingpagevid {
    width: 100%;
    z-index: -1;
}

.landingbooknow {
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    color: white;
    width: 110px;
    border: #fff solid 2px;
    text-align: center;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landingbooknow:hover {
    background-color: #fff ;
    color:rgb(0, 0, 0);
}


@media only screen and (max-width: 750px) {

    .landing {
       display: block;
       text-align: center;
    }

    .landingbooknow {
        background-color: rgba(255, 255, 255, 0);
        color: black;
        position: static;
        display: inline-block;
        transform: none;
        border: #000 solid 2px;
        width: fit-content;
    }

    .landingbooknow:hover {
        background-color: #000 ;
        color:rgb(255, 255, 255);
    }

}

#landingbooknowbuttontext {
    margin: 8px;
    font-size: 20px;
}

/* ticket search */

.ticketsearch {
    display: none;
    background-color: #000;
    height: 80px;
}

#ticketsearchform {
    display: flex;
}

.ticketmenu {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
}

.ticketod {
    display: block;
    margin: 0px;
    padding-top: 5px;
    padding-left: 5px;
    color:#fff;
}

#datebox input{
    border: none;
}

#ticketdestination , #ticketorigin{
    border: none;
}

#ticketsearchform label{
    font-size: 14px;
}

#fasttrainpic {
    width: 100%;
    max-height: 480px;
    object-fit: cover;
}

/* main menu */

.mainmenu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 4% 0%;
}

.menubox {
    width: 32%;
    display: flex;
    position: relative;
}

.menubox:hover {
    cursor: pointer;
}

.menubox img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

.menubox h3 {
    margin: 10px;
    color: #fff;
    font-weight: 500;
    width: fit-content;
    
}

.menuboxtitle {
    width: fit-content;
    backdrop-filter: blur(5px);
    background-color: #00000046;
    position: absolute;
    inset: 78% 0% 0% 0%;
    margin: 0px;
    padding: 0px 8% 0px 3%;
    height: 38px;
    transition: padding-left 1.5s ease;
}


@media only screen and (max-width: 1030px) {
    .menubox h3 {
        font-size: 17px;
    }

    .menuboxtitle {
        inset: 73% 0% 0% 0%;
        height: fit-content;
    }

}

@media only screen and (max-width: 859px) {
    #timeprice {
        font-size: 15px;
        margin-bottom: 10px;
        
    }

    #timepricebox {
        padding-right: 5%;
    }

}

@media only screen and (max-width: 710px) {
   .mainmenu {
        display: block;
   }

   .menubox {
        width: 80%;
        margin: 3% 10%;
   }

   .menuboxtitle h3 , #timeprice {
        font-size: 22px;
   }
}

@media only screen and (max-width: 370px) {
    #timeprice {
        font-size: 19px;
    }
}

/* destinations */

.destinationsmenu {
    display: flex;
    justify-content: space-around;
    margin: 4% 0%;
    width: 100%;
}

.destinationsbox img {
    aspect-ratio: 4 / 3;
    margin: 1%;
    width: 96%;
}

.destinationsbox {
    aspect-ratio: 4 / 3;
    width: 94%;
    display: flex;
}

.destinationsbox img:hover {
    cursor: pointer;
}

.destinationsbox h3{
    margin: 5% 0% 0% -95%;
    z-index: 1;
    color: white;
    backdrop-filter: blur(5px);
    height: fit-content;
    padding: 3px;
}

@media only screen and (max-width: 800px) {
    .destinationsmenu {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        justify-items: center;
    }

}

/* Routes */

.routemap {
    width: 100vw;
}

.textbox , .text{
    display: none;
}

.routemappic {
    height: 600px;
    min-height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
}

svg {
  display: block;
  
}

/* Logistics */
/* new log */
.searchheader {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logsearchbutton , #pricefiltersearchbutton , #resetbutton , #THBButton , #JPYButton{
    margin: 15px;
    padding: 10px;
    border: #000 solid 2px;
}

#pricematrixandlabels {
  margin: 10px 15px;
  overflow-x: scroll;
}

.logsearchbutton:hover , #pricefiltersearchbutton:hover , #resetbutton:hover , #THBButton:hover , #JPYButton:hover {
    background-color: black;
    color: white;
}

#resetbutton , #JPYButton{
    display: none;
}

#origincitiespricematrixform {
    align-self: center;
}

#searchbyheader {
    align-self: center;
    margin: 5px;
}

.timetablesandpricesall {
    display: flex;
    align-content: center;
    justify-content: center;
}

@media only screen and (max-width: 1150px) {
    .timetablesandpricesall {
        display: block;
    }

    #timetablenorth {
        margin: 5px auto;
        width: fit-content;
    }

    #timetablesouth {
        margin: 5px auto;
        width: fit-content;
    }
}

#timetablenorth , #timetablesouth, #pricematrixandlabels , .timetablelabel {
    display: none;
}

.timetables {
    margin: 5px 15px;
}

#pricesearchmorebuttons {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 400px) {
     #pricesearchmorebuttons {
    display: block;
    justify-content: center;
    }
    #THBButton , #JPYButton , #resetbutton , #pricefiltersearchbutton {
        width: fit-content;
        margin: 10px auto;
    }
    .searchheader {
        display: block;
    }
}

#priceoriginlabel {
    display: inline;
}

#pricedestinationlabel {
    display: block;
}

#sidebox {
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding: 75px 10px 10px 10px;
}


/* old log */
.searchform {
    margin: 0 10px 20px 10px;
    display: flex;
    justify-content: center;
}

#originsearchbutton , #destinationsearchbutton {
    justify-self: center;
    align-self: flex-end;
    height: fit-content;
    margin: 10px;
}

#searchby {
    font-size: 16px;
}

.searchbytitleandbuttons {
    display: flex; 
    justify-content: center; 
    margin: 25px;
}

#searchbybuttontitle {
    margin: 0px 10px 20px 0px;
    align-self: end;
}

#searchbyoriginsbutton , #searchbydestinationsbutton {
    margin: 10px;
    padding: 10px;
    border: black solid 2px;
}

#searchbyoriginsbutton:hover {
   background-color: black;
   color: white;
}

#searchbydestinationsbutton:hover {
    background-color: black;
    color: white;
}

.timetablesandprices {
    text-align: center;
    width: 100%;
}

#searchbydestinationform label , #searchbyoriginform label {
    font-size: 28px;
}

.searchformsandtable {
    display: none;
}

table {
    border: black solid 2px;
    border-collapse: collapse;
}

.maintable {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 550px) {
    .maintable {
        overflow: scroll;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 470px) {

    .searchbytitleandbuttons {
        display:block;
    }

}

th {
    padding: 10px;
    border: #000000 solid 2px;
}

td {
    border: #000000 solid 2px;
    padding: 4px;
}

.notResult {
    display: none;
}


/* Amenities */
/*
.trainamenities {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 40% 40%;
}
*/

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    background-repeat: no-repeat;
    background-size: cover;
}



.amenitiespicscon {
    display: flex;
    width: 100%;
    height: 96vh;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.trainamenities {
    overflow: hidden;
    position: relative;
}

.picsliderbutton {
    position: absolute;
    display: flex;
    width: 3%;
    min-width: 40px;
    cursor: pointer;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    background-color: #000000;
    height: 96vh;
    color: white;
    padding: 0;
    margin: auto;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}

.picsliderbutton:hover {
    opacity: 0.8;
}

#buttonright {
    left: 0;
}

#buttonleft {
    right: 0;
}

@media only screen and (max-width: 650px) {
    .amenitiespicscon {
        height: 60vh;
    }
}

@media only screen and (max-width: 500px) {
    .amenitiespicscon {
        height: 55vh;
    }
}

@media only screen and (max-width: 435px) {
    .amenitiespicscon {
        height: 50vh;
    }
}

@media only screen and (max-width: 380px) {
    .amenitiespicscon {
        height: 45vh;
    }
}

@media only screen and (max-width: 360px) {
    .amenitiespicscon {
        height: 40vh;
    }
}

@media only screen and (max-width: 340px) {
    .amenitiespicscon {
        height: 35vh;
    }
}